@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.login-container{
    background-image: url(../assets/hrmslogin-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;
}
.login-input::placeholder{
    color: #BABABA;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.outline:hover{
    outline: 1px solid rgb(179, 179, 236) !important;
}
.create-account-container{
    background-image: url(../assets/hrmslogin-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;
}
.phone-verification-container{
    background-image: url(../assets/hrmslogin-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;
}
.oraganisation-setup-container{
    background-image: url(../assets/hrmslogin-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;
}
.account-setup-container{
     background-image: url(../assets/hrmslogin-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;  
}
.employee-active{
    transition: 0.5s all;
}
.employee-active:hover{
    background-color: #0084FF !important;
    color: white;
}